# Ignore all
*

# ... except these
!.cloudtest
!.env
!.git
!.mk
!applications
!build
!controlplane
!deployments
!docker
!forwarder
!k8s
!pkg
!scripts
!sdk
!side-cars
!test
!utils
!.cloudtest-bench.yaml
!.cloudtest-single-cluster.yaml
!.cloudtest-interdomain.yaml
!go.mod
!go.sum
!Makefile
!vendor
